<html lang="pt-br">
<head>
<title>Noticia2</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
<center>
<hr>
<h2>Noticia 2</h2>

<video controls width="400">
<source src="../midias/golf.mp4">
</video>

<video controls width="400">
<source src="../midias/bmw.mp4">
</video>

<hr>

	<p class="dev-texto">Desenvolvido por:
	Rafael Alves</p>

		<p><a href="../inex.html">
		<font size=7>Voltar</font><br></p></a>
		
</center>		
</body>
</body>